.container{
    border: 2px solid rgb(4, 0, 255);
    width: 30%;
    border-radius: 15px;
    padding: 20px;
    margin-top: 5%;
}
 
#imgUser{
    border-radius: 50%;
    border: 1px solid rgb(65, 4, 235);
    width: 100px;
}